streamlit
pandas
gspread>=5.0.0 # Specify minimum version known to have RequestError exception
oauth2client
Pillow
fpdf2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fuzzywuzzy
python-Levenshtein